[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = https://github.com/study-abide-test2a/study-abide-tmp1-site-Caltech-sourcedata-raw.git
	datalad-id = 28564f81-b4f6-45f8-97f5-adce6a297c74
[submodule "derivatives/nidm"]
	path = derivatives/nidm
	url = ./derivatives/nidm
	datalad-id = 6abff16f-4805-4899-bcb9-d26a08828467
